@import 'palette.scss';
@import 'typography.scss';

$xblog-article-1473861890-grid-font-size: xblog-font-size(xs);
$xblog-article-1473861890-grid-padding: 1rem;
$xblog-article-1473861890-grid-background-color: xblog-color($xblog-color-white, light);
$xblog-article-1473861890-grid-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);

$xblog-article-1473861890-grid-row-border-bottom: 1px solid xblog-color($xblog-color-gray, light-1);

$xblog-article-1473861890-grid-col-padding: 1rem;