$xblog-header-foreground-color: xblog-color($xblog-color-white) !default;

$xblog-title-font-size: xblog-h-font-size(h1) !default;


$xblog-subtitle-font-weight: xblog-font-weight(300) !default;
$xblog-subtitle-margin: .5rem 0 0 !default;

$xblog-divider-width: 270px !default;
$xblog-divider-border-width: 2px !default;
$xblog-divider-border-top-color: xblog-color($xblog-color-white) !default;
$xblog-divider-margin: 20px auto !default;