<xblog-navbar></xblog-navbar>

<xblog-header [cover]="article.cover">
  <h1 xblog-title>{{article.title}}</h1>

  <hr xblog-divider />

  <xblog-subtitle>{{article.postedDate}}</xblog-subtitle> 
</xblog-header>

<ngx-grid class="xblog-article-content-section" type="fluid">
  <ngx-grid-row>
    <ngx-grid-col size="xs-12 lg-8" offset="xs-1 lg-3">
        <template [ngx-portal-host]="contentComponent"></template>
    </ngx-grid-col>
  </ngx-grid-row>
</ngx-grid>

<h2 *ngIf="hasRelatedArticles()" class="xblog-article-related-posts-section-title">Related Articles</h2>

<ngx-grid *ngIf="hasRelatedArticles()" class="xblog-article-related-posts-section" type="fluid">
  <ngx-grid-row>
    <ngx-grid-col size="lg-10" offset="lg-2">
      <ngx-grid-row>
        <ngx-grid-col class="xblog-article-related-post-container" *ngFor="let relatedArticle of article.relatedArticles" size="xs-12 sm-6 xl-4">
          <xblog-post size="small" [model]="relatedArticle"></xblog-post>
        </ngx-grid-col>
      </ngx-grid-row>
    </ngx-grid-col>
  </ngx-grid-row>
</ngx-grid>

<xblog-footer></xblog-footer>