@import "../../../../../cores/styles/palette/palette.scss";
@import "../../../../../cores/styles/typography/typography.scss";

$xblog-home-article-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);

$xblog-home-article-subtitle-font-size: xblog-font-size(sm);
$xblog-home-article-subtitle-font-style: italic;

$xblog-home-article-title: (
  hover: (
    foreground-color: xblog-color($xblog-color-green)
  ),
  default: (
    foreground-color: xblog-color($xblog-color-black, dark)
  )
);