@import "../../../../../cores/styles/state/state.scss";

@import './_variables.scss';

:host(.xblog-home-article){
  display: block;
  box-shadow: $xblog-home-article-box-shadow;

  & .ngx-card {
    border-radius: 0;
    border: none;

    & ngx-card-title > a {
      color: xblog-component($xblog-home-article-title, default, foreground-color);

      @include xblog-state($xblog-home-article-title, 'focus hover') {
        text-decoration: none;
        color: xblog-component($xblog-home-article-title, hover, foreground-color);
      }
    }

    & ngx-card-subtitle {
      font-size: $xblog-home-article-subtitle-font-size;
      font-style: $xblog-home-article-subtitle-font-style;
    }
  }
}