@import 'typography.scss';

$xblog-highlight-font-size: xblog-font-size(xs);
$xblog-highlight-padding: .125rem .25rem;
$xblog-highlight-background-color: #6272a4;
$xblog-highlight-foreground-color: #50fa7b;