@mixin xblog-post-size($size){
  @if $size == small {
    &.xblog-post-size-small {
      /deep/ .ngx-card {
        @media(min-width: xblog-breakpoint(sm)){
          height: $xblog-post-height-sm;
        }

        & ngx-card-title {
          > a {
            font-size: $xblog-post-title-font-size-small;
          }

          @media(min-width: xblog-breakpoint(sm)){
            max-height: $xblog-post-title-max-height-sm;
            overflow: hidden;
          }
        }

        & ngx-card-subtitle {
          font-size: $xblog-post-subtitle-font-size-small;
        }

        & ngx-card-text > p {
          font-size: $xblog-post-description-font-size-small;
        }
      }
    }
  }
  @else if $size == large {
    &.xblog-post-size-large {
      /deep/ ngx-card-title > a {
        font-size: $xblog-post-title-font-size-large;
      }

      /deep/ ngx-card-subtitle {
        font-size: $xblog-post-subtitle-font-size-large;
      }

      & ngx-card-text > p {
        font-size: $xblog-post-description-font-size-large;
      }
    }
  }
}