@mixin xblog-post-size($size){
  @if $size == small {
    &.xblog-post-size-small {
      /deep/ .ngx-card {
        & ngx-card-title {
          display: flex;
          align-items: center;
          height: $xblog-post-title-height-small;
          margin: 0;
          
          > a {
            font-size: $xblog-post-title-font-size-small;
          }
        }

        & ngx-card-subtitle {
          font-size: $xblog-post-subtitle-font-size-small;
        }

        & ngx-card-text > p {
          font-size: $xblog-post-description-font-size-small;
        }
      }
    }
  }
  @else if $size == large {
    &.xblog-post-size-large {
      /deep/ ngx-card-title > a {
        font-size: $xblog-post-title-font-size-large;
        
        > p {
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      /deep/ ngx-card-subtitle {
        font-size: $xblog-post-subtitle-font-size-large;
      }
    }
  }
}