:host(.xblog-post){
  display: block;
  box-shadow: $xblog-post-box-shadow;

  /deep/ > .ngx-card {
    border-radius: 0;
    border: none;

    & ngx-card-title > a {
      font-family: $xblog-post-title-font-family;
      font-weight: $xblog-post-title-font-weight;
      text-decoration: none;
      color: xblog-component($xblog-post-title, default, foreground-color);

      @include xblog-state(xblog-post-title, 'focus hover') {
        color: xblog-component($xblog-post-title, hover, foreground-color);
      }

      > p {
        margin: 0;
      }
    }

    & ngx-card-subtitle {
      font-style: $xblog-post-subtitle-font-style;
    }

    & ngx-card-text > p {
      overflow: hidden;
      max-height: $xblog-post-description-max-height;
    }
  }

  @each $size in xblog-post-config(sizes){
    @include xblog-post-size($size);
  }
}