@import 'xblog-cores/styles/palette/index.scss';
@import 'xblog-cores/styles/typography/index.scss';

$xblog-article-1477045370-grid-font-size: xblog-font-size(xs);
$xblog-article-1477045370-grid-padding: 0 1rem;
$xblog-article-1477045370-grid-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);

$xblog-article-1477045370-grid-header-background-color: xblog-color($xblog-color-white, dark);

$xblog-article-1477045370-grid-header-col-font-weight: xblog-font-weight(bold-3);
$xblog-article-1477045370-grid-header-col-border-right: 2px solid xblog-color($xblog-color-gray, light-1);

$xblog-article-1477045370-grid-row-background-color: xblog-color($xblog-color-white, light);
$xblog-article-1477045370-grid-row-border-bottom: 1px solid xblog-color($xblog-color-gray, light-1);

$xblog-article-1477045370-grid-col-padding: 1rem;