@import './_variables.scss';

:host(.xblog-article-1477045370){
  > .ngx-grid {
    font-size: $xblog-article-1477045370-grid-font-size;
    padding: $xblog-article-1477045370-grid-padding;
    box-shadow: $xblog-article-1477045370-grid-box-shadow;

    > .ngx-grid-row {
      background-color: $xblog-article-1477045370-grid-row-background-color;

      &.xblog-article-grid-header {
        background-color: $xblog-article-1477045370-grid-header-background-color;

        > .ngx-grid-col {
          font-weight: $xblog-article-1477045370-grid-header-col-font-weight;

          &:not(:last-child){
            border-right: $xblog-article-1477045370-grid-header-col-border-right;
          }
        }
      }

      &:not(:last-child) {
        border-bottom: $xblog-article-1477045370-grid-row-border-bottom;
      }

      > .ngx-grid-col {
        padding: $xblog-article-1477045370-grid-col-padding;
      }
    }
  }
}