@import 'state.scss';

@import './_variables.scss';

:host(.xblog-code-panel){
  display: block;
  box-shadow: $xblog-code-panel-box-shadow;

  & .ngx-card {
    border-radius: 0;
    border: none;

    & xblog-title {
      font-weight: $xblog-code-panel-title-font-weight;
      color: $xblog-code-panel-title-foreground-color;
    }

    & a[xblog-source-code] {
      font-style: italic;
      font-weight: $xblog-code-panel-title-font-weight;
      text-decoration: none;
      text-transform: lowercase;

      @include xblog-state('a[xblog-source-code]', 'focus hover') {
        color: $xblog-code-panel-source-code-foreground-color;
      }
    }

    & ngx-card-content {
      margin: $xblog-code-panel-card-content-margin;
      color: $xblog-code-panel-card-content-foreground-color;
      background-color: $xblog-code-panel-card-content-background-color;

      & code {
        display: block;
        overflow-x: auto;
        margin: -1.5rem 0;

         & xblog-code {
          display: block;
          font-size: $xblog-code-panel-code-font-size;
          padding: $xblog-code-panel-code-padding;
        }
      }
    }
  }
}