@import "../../../styles/typography/typography.scss";
@import "../../../styles/palette/palette.scss";

$xblog-header-foreground-color: xblog-color($xblog-color-white);

$xblog-header-main-font-size: xblog-h-font-size(h1) * 1.6;

$xblog-header-sub-font-family: $xblog-font-family-sans-serif;
$xblog-header-sub-font-size: xblog-font-size(lg);
$xblog-header-sub-font-weight: xblog-font-weight(300);
$xblog-header-sub-margin: .5rem 0 0;

$xblog-header-divider-width: 270px;
$xblog-header-divider-border-width: 4px;
$xblog-header-divider-border-top-color: xblog-color($xblog-color-white);
$xblog-header-divider-margin: 20px auto;