@import "../../../styles/breakpoint/breakpoint.scss";

@import './variables.scss';

:host(.xblog-header){
  display: block;
  color: $xblog-header-foreground-color;

  & .ngx-jumbotron {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;

    & .xblog-header-site-heading {
      text-align: center;
      h1 {
        margin-top: 0;
        font-size: $xblog-header-site-heading-font-size;
      }
      @media (min-width: xblog-breakpoint(md)) {
        h1 {
          font-size: $xblog-header-site-heading-font-size-md;
        }
      }
    }

    & hr {
      max-width: $xblog-header-hr-width-max;
      margin: $xblog-header-hr-margin;
      border-width: $xblog-header-hr-border-width;
      border-top-color: $xblog-header-hr-border-top-color !important;
    }

    & .xblog-subheading {
      display: block;
      font-family: $xblog-header-subheading-font-family;
      font-size: $xblog-header-subheading-font-size;
      font-weight: $xblog-header-subheading-font-weight;
      line-height: $xblog-header-subheading-line-height;
      margin: $xblog-header-subheading-margin;
    }
  }
}