@import 'breakpoint.scss';

@import './_variables.scss';

:host(.xblog-header){
  display: block;
  color: $xblog-header-foreground-color;

  & .ngx-jumbotron {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 50vh;

    > .ngx-grid {
      width: 100%;

      & h1[xblog-header-main] {
        text-align: center;
        font-size: $xblog-header-main-font-size;
      }

      & hr[xblog-header-divider] {
        width: $xblog-header-divider-width;
        margin: $xblog-header-divider-margin;
        border-width: $xblog-header-divider-border-width;
        border-top-color: $xblog-header-divider-border-top-color !important;
      }

      & xblog-header-sub {
        display: block;
        text-align: center;
        font-family: $xblog-header-sub-font-family;
        font-size: $xblog-header-sub-font-size;
        font-weight: $xblog-header-sub-font-weight;
        margin: $xblog-header-sub-margin;
      }
    }
  }
}