@import 'palette.scss';

$xblog-article-content-section-margin: 5rem 0;

$xblog-article-content-section-heading-margin: 1rem 0;

$xblog-article-content-section-subheading-foreground-color: xblog-color($xblog-color-gray, light);
$xblog-article-content-section-subheading-margin: 1rem 0;

$xblog-article-content-section-subject-foreground-color: xblog-color($xblog-color-gray, light);
$xblog-article-content-section-subject-margin: 1rem 0;

$xblog-article-related-posts-section-margin: 3rem 0;