@import './_variables.scss';

:host(.xblog-article) {
  /deep/ > .xblog-article-content-section {
    margin: $xblog-article-content-section-margin;

    p {
      margin: 0;
    }

    .section-heading {
      margin: $xblog-article-content-section-heading-margin;
    }

    .section-subheading {
      margin: $xblog-article-content-section-subheading-margin;
      color: $xblog-article-content-section-subheading-foreground-color;
    }
    
    .section-subject {
      margin: $xblog-article-content-section-subject-margin;
      color: $xblog-article-content-section-subject-foreground-color;
      text-decoration: underline;
    }

    .screen-capture {
      text-align: center;
      overflow-x: auto;
    }
  }

  > .xblog-article-related-posts-section-title {
    text-align: center;
  }

  > .xblog-article-related-posts-section {
    margin: $xblog-article-related-posts-section-margin;
  }
}