$xblog-footer-padding: 2.5rem 0 3.25rem !default;

$xblog-footer-social-link-padding: 0 .25rem !default;
$xblog-footer-social-link: (
  hover: (
    foreground-color: xblog-color($xblog-color-primary)
  ),
  default: (
    foreground-color: xblog-color($xblog-color-black, dark)
  )
) !default;

$xblog-footer-copyright-font-size: xblog-font-size(xs) !default;
$xblog-footer-copyright-margin: .5rem 0 0 !default;